<h1>New Task</h1>

<%= form_with model: @task do |form| %>
  <p>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :description %>
  <%= form.text_area :description %>

  <%= form.label :status %>
  <%= form.radio_button :status, 'completed' %> completed
  <%= form.radio_button :status, 'in-progress' %> In-Progress
</p>
<p>
 <%= form.submit %>
</p>
<% end %>

<%= link_to "Back", tasks_path %>
